<html>
<head>
<meta charset="UTF-8">
</head>
<body>
	<h2 style="text-align: center; color: green;">${nome}, seu
		cadastro no sistema SVC foi realizado com sucesso!</h2>
	<p>A empresa TotalMed tem como objetivo, oferecer o melhor serviço
		de saude para os nossos clientes, verificando os locais de vacinação
		mais proximos de nossos clientes e fazendo com que os mesmos tenham a
		possibilidade de marcar as suas vacinas de maneira rápida facil e
		gratuita</p>
	<h4 style="text-align: center;">
		Qualquer dúvida entre em contato conosco: totalmedsvc@gmail.com
	</h4>
</body>
</html>